.sidebar {
  position:fixed;
  left:0;
  bottom:0;
  top: 65px;
  background-color: white;
  width: 100px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar-icon img {
  height: 30px;
  margin-bottom: 5px;
}

.sidebar-icon:hover {
  background-color: rgb(214, 209, 209)
}

.sidebar-icon div {
  font-family: Arial;
  font-size: 14px;
}